{
    "port": 8008,

    "logs": [
        {
            "file": "/var/log/nginx/access.log",
            "regexp": "apache-combined"
        },
        {
            "file": "/var/log/my-custom.log",
            "regexp": "my-regexp"
        }
    ],

    "regexp": {
        "my-regexp": "/(:<myAttr>.*) (:<myOtherAttr>.*)/"
    }
}
